@font-face {
    font-family: 'base1';
    src: url('fonts/alt/Negotiate-Free.ttf.woff') format('woff2');
}

@font-face {
    font-family: 'base';
    src: url('fonts/base/FranKleinBook.ttf.woff') format('woff');
}

@font-face {
    font-family: 'Bold';
    src: url('fonts/Bold/Agnella-Bold.ttf.woff') format('woff2');
}

@font-face {
    font-family: 'Acens';
    src: url('fonts/Acens/Acens.ttf.woff') format('woff');
}

@font-face {
    font-family: 'out';
    src: url('fonts/out_19/1900805.ttf.woff') format('woff');
}

:root {
    --primary: #60de07;
    --secondary: #07de1a;
    /* --blog-item-cap-bag: #91fb991f; */
    --blog-item-cap-bag: #de8507;
    --tertiary: #de8507;
    --background: #fff;
    --transparent-background: rgba(255, 255, 255, 0.836);
    /* --transparent-background1: rgba(5, 200, 47, 0.375); */
    --transparent-background1: #de850779;
    --transparent-background2: #183a1db8;
    --dates: #424643;
    /* --all-in-one: #364fec38;
    --security: #ffd7b24d;
    --accessibility: #27ae604d; */
    --text-color2: #ccde07;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* @media only screen and (max-width: 768px) { */

html,
body {
    font-size: 15px;
    line-height: 1.2em;
    background-color: rgb(247 250 251);
    color: rgb(0, 0, 0);
    font-family: 'base', 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    padding: 0px;
    margin: 0;
}

input::placeholder,
textarea::placeholder {
    text-transform: capitalize;
}

input,
textarea {
    outline: none;
    padding: 5px;
    border: 1px solid gainsboro;
}

#hm__body {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr;
}

#hm__body__header {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    padding: 25px;
    align-items: center;
}

#hm__header__logo__link {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    z-index: 3;
}

#main__logo {
    height: 25px;
}

#main__logo__name {
    font-family: 'out';
}

#hm__nav {
    grid-column: 1/7;
    position: fixed;
    padding: 100px 30px;
    width: 100vw;
    background-color: #f7fafb;
    color: var(--primary);
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

.hm__nav {
    display: none;
}

.hm__nav__triggered {
    display: unset;
}

#hm__nav__list__item {
    line-height: 3em;
    text-transform: capitalize;
    font-weight: 600;
}

#hm__nav__list {
    line-height: 2em;
}

.hm__nav__item__link {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'base1', cursive;
}

.hm__nav__item__link:hover {
    border-bottom: 1px solid var(--transparent-background1);
    padding-bottom: 5px;
}

#hm__menu__btn {
    grid-column: 6/7;
    grid-row: 1/2;
    justify-self: center;
    color: var(--primary);
    z-index: 2;
}

#hm__body__sec {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    padding: 0 25px;
}

#hm__body__sec__body {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
}

.hm__body__caro__div {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.mySlides {
    display: none;
}

.hm__body__prev__nect__slide {
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.prev,
.next {
    cursor: pointer;
    position: relative;
    /* bottom: 50%; */
    padding: 16px;
    color: var(--text-color2);
    font-weight: 600;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    width: fit-content;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    justify-self: end;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.hm__body__caro__desc {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
}

#hm__body__caro__img {
    width: 100%;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.hm__body__caro__desc__bdy_a {
    font-weight: 600;
    font-family: 'Acens';
}

.hm__body__caro__desc__bdy__b {
    background-color: var(--transparent-background1);
    padding: 10px;
    border-radius: 3px;
}

#hm__body__w__w__do,
#hm__body__about__us {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#w__w__do__body,
#hm__body__about__us__body {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#w__w__do__head,
#hm__body__about__us__header {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Acens';
}

.w__w__do__item__name,
.about__us__item__head {
    text-transform: capitalize;
    font-weight: 600;
    width: fit-content;
    border-bottom: 1px solid var(--text-color2);
    padding-bottom: 2px;
}

.w__w__do__item__div {
    display: grid;
    gap: 10px 2px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    padding: 10px;
    border-radius: 3px;
    /* border: 1px solid var(--primary); */
    border-bottom: 1px solid var(--transparent-background1);
}

.w__w__do__item__div:last-child {
    border-bottom: unset;
}

.hm__body__about__us__item {
    display: grid;
    gap: 10px 2px;
    grid-template-columns: 1fr;
    padding: 10px;
    border-radius: 3px;
    /* border: 1px solid var(--secondary); */
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.w__w__do__item__desc {
    grid-column: 1/3;
    grid-row: 2/3;
}

#hm__body__out__team__contact {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.hm__body__our__team__contact__header {
    text-transform: capitalize;
    font-weight: 600;
}

#hm__body__our__team__div,
#hm__body__contact__div {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary);
}

#hm__body__our__team__items__div {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.hm__body__our__team__item {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    justify-items: center;
}

.hm__body__our__team__img {
    width: 100%;
    border-radius: 5px;
    /* height: 200px; */
}

.hm__body__our__team__name {
    text-transform: capitalize;
    font-weight: 600;
}

#hm__body__contact__us__form {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#hm__body__footer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#hm__body__footer__one {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    background: var(--transparent-background1);
    padding: 10px;
}

#hm__body__footer__contact__info,
#hm__body__footer__donate,
#hm__body__footer__socials {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    justify-items: center;
}

#hm__body__footer__one header {
    text-transform: capitalize;
    font-weight: 600;
}

#hm__body__footer__contact__info__dit {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.hm__body__contact__info__dit__cont {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 7fr;
}

#hm__body__contact__submit__btn {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color2);
    border: 1px solid var(--blog-item-cap-bag);
    background-color: var(--blog-item-cap-bag);
}

#hm__body__footer__donate__btn {
    background: var(--blog-item-cap-bag);
    color: var(--text-color2);
    text-transform: capitalize;
    border-radius: 5px;
    padding: 5px;
    height: fit-content;
}

#hm__body__footer__socials__div {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

#hm__body__footer__two {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.8em;
    color: var(--tertiary);
}

@media (min-width: 600px) {
    /* tablets */
    body {
        font-size: 0.8rem;
    }
    #hm__body__header {
        grid-template-columns: repeat(6, 1fr);
        padding: 25px 60px;
        font-size: 0.8em;
    }
    #hm__header__logo__link {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
    }
    #hm__nav {
        grid-column: 2/7;
        position: unset;
        padding: 100px 30px;
        width: 100vw;
        background-color: #f7fafb;
        color: var(--primary);
        bottom: unset;
        top: unset;
        left: unset;
        display: grid;
        grid-template-columns: 1fr;
    }
    #hm__nav__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        justify-items: center;
    }
    #hm__nav {
        padding: unset;
        width: unset;
    }
    .hm__nav {
        display: block;
    }
    #hm__menu__btn {
        display: none;
    }
    #hm__body__sec {
        padding: 0 60px;
    }
    .hm__body__caro__div {
        gap: 25px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .hm__body__caro__desc {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }
    #hm__body__w__w__do {
        padding: 30px 0 15px;
    }
    .w__w__do__item__div {
        border-right: 1px solid var(--transparent-background1);
        border-bottom: unset;
    }
    .w__w__do__item__div:last-child {
        border-right: unset;
    }
    #hm__body__about__us {
        padding: 15px 0 15px;
    }
    #w__w__do__body,
    #hm__body__about__us__body {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #hm__body__out__team__contact {
        grid-template-columns: 1fr 1fr;
        padding: 15px 0 15px;
    }
    #hm__body__our__team__items__div {
        grid-template-columns: 1fr 1fr;
    }
    #hm__body__footer__one {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #hm__body__footer {
        padding: 15px 0 0px;
    }
}

@media (min-width: 768px) {
    /* desktops */
    body {
        font-size: 1.3rem;
    }
    #hm__body__header {
        padding: 25px 120px;
    }
    #hm__body__sec {
        padding: 0 120px;
    }
    .hm__body__caro__div {
        gap: 50px;
    }
    #hm__body__w__w__do {
        padding: 100px 0 60px;
    }
    #hm__body__about__us {
        padding: 60px 0 60px;
    }
    #hm__body__out__team__contact {
        padding: 60px 0 60px;
    }
    #hm__body__footer {
        padding: 60px 0 0px;
    }
}


/* ----------------------BLOGS ------------------------------- */

#blogs__body {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 0 25px;
}

#blog__body__lead {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#blog__body__lead__one {
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.blog__img {
    width: 100%;
    grid-row: 1/4;
    grid-column: 1/2;
}

.blog__body__cap {
    grid-row: 3/4;
    grid-column: 1/2;
    line-height: 1em;
    padding: 5px;
    color: var(--white);
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--transparent-background2);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#blog__body__lead__one__title {
    font-family: 'base1';
}

.blog__body__cap__date__time {
    font-size: 0.7em;
}

#blog__body__lead__two {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.blog__body__lead__two__item {
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#blog__body__others {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px;
}

#blog__body__other__news__div {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#blog__other__news__heading {
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid var(--primary);
    font-family: 'Bold';
}

#blog__body__other__news__items {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.blog__body__other__news__item {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--blog-item-cap-bag);
}

.blog__other__news__head {
    font-weight: 600;
}

.blog__other__news__date {
    font-size: 0.7em;
    text-transform: capitalize;
    color: var(--dates);
}

@media (min-width: 600px) {
    /* TABLET VIEW */
    #blogs__body {
        padding: 0 60px;
    }
    #blog__body__lead {
        grid-template-columns: 2fr 1fr;
    }
    #blog__body__lead__one {
        grid-template-rows: repeat(6, 1fr);
    }
    .blog__img {
        width: 100%;
        grid-row: 1/7;
        grid-column: 1/2;
    }
    .blog__body__cap {
        grid-row: 5/7;
    }
    #blog__body__lead__two {
        grid-template-columns: 1fr;
    }
    #blog__body__other__news__items {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    #blog__body__other__news__div {
        padding: 60px 0;
    }
    .blog__body__lead__two__item {
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }
    .blog__body__lead__two__item:hover {
        transform: scale(1.1);
    }
}

@media (min-width: 768px) {
    /* DESKTOP VIEW */
    #blogs__body {
        padding: 0 120px;
    }
}


/* ------------------------BLOG DETAIL -------------------------- */

#blog__dit__body__lead {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#blog__dit__body__lead__one {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

#blog__dit__body__lead__cap {
    font-weight: bold;
    font-family: 'base1';
}

#blog__dit__body__lead__date {
    text-transform: capitalize;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--dates);
}

#blog__dit__body__lead__img {
    width: 100%;
}

@media (min-width: 600px) {
    /* TABLET VIEW */
    #blog__dit__body__lead {
        grid-template-columns: 2fr 1fr;
    }
    .blog__dit__other__lead {
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) {
    /* DESKTOP VIEW */
    #blogs__body {
        padding: 0 120px;
    }
}


/* -------------------- MEDIA -------------------- */

#media__body__items {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.media__body__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.media__body__item__title {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    background-color: var(--transparent-background2);
    padding: 5px;
    font-weight: bold;
    color: var(--secondary);
    font-family: Acens;
}

.media__body__item__img {
    width: 100%;
    grid-row: 1/4;
    grid-column: 1/2;
}

.media__body__item__dit {
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 5px;
    background-color: var(--blog-item-cap-bag);
    font-size: 00.8em;
}

.media__dit__body__item__img {
    width: 100%;
}

#blog__dit__body__header {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--transparent-background1);
}

@media (min-width: 600px) {
    /* TABLET VIEW */
    #media__body__items {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .media__body__item {
        grid-template-rows: repeat(5, 1fr);
    }
    .media__body__item__dit {
        grid-row: 4/6;
    }
}

@media (min-width: 768px) {
    /* DESKTOP VIEW */
    #blogs__body {
        padding: 0 120px;
    }
}